.button{
    background: #6f727c;
    color: white;
}
.radiocontainer{
    background-color: #E7E9EB;
    display: block;
    position: relative;
    padding: 10px 10px 10px 50px;
    margin-bottom: 1px;
    font-size: 18px;
    user-select: none;
    word-wrap: break-word;
}
.delete-button{
    background: green;
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    padding: 3px 15px;
    font-size: 17px;
    margin-top: 2%;
}
.update-button{
    background: rgb(104, 105, 104);
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    padding: 3px 15px;
    font-size: 17px;
    margin-top: 2%;
}