mat-card-actions{
    text-align: right;
    padding-right: 7px;
    padding-top: 2%;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #0df020;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.button{
    background: #04AA6D;
    color: white;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    padding: 3px 30px!important;
    font-size: 17px;
}
.form-check{
    background-color: #E7E9EB;
    display: block;
    position: relative;
    padding: 10px 10px 10px 50px;
    margin-bottom: 1px;
    font-size: 15px;
    user-select: none;
    word-wrap: break-word;
}
.radiocontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}