mat-sidenav{
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #dadce0;
    color: black;
    border-radius: 16px;
    padding: 16px;
}
mat-divider{
    padding-top: 2%;
    padding-bottom: 2%;
}

.content{
   top: 87px;
    padding: 16px;
    margin: 16px;
    margin-left: 32px;
    border-radius: 10px;
}
.menu-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem; 
}
.sidenav{
    position: fixed;
    top:87px;
}

img {
    max-width: 100%;
    height: auto;
}