.radiocontainer{
    background-color: #E7E9EB;
    display: block;
    position: relative;
    padding: 10px 10px 10px 50px;
    margin-bottom: 1px;
    font-size: 18px;
    user-select: none;
    word-wrap: break-word;
}
.green{
    background-color: green;
}
.grey{
    background-color: grey;
}
.red{
    background-color: red;
}